[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
pandas = "*"
boto3 = {extras = ["ctr"], version = "*"}
uvicorn = {extras = ["standar"], version = "*"}
fastapi = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
